*.icon-silver {
	color:silver;
}

*.icon-green {
	color:#36b348;
}

*.icon-dark {
	color:gray;
}

*.icon-blue {
	color:#5aaedb;
}

.enabled {
	text-align:center;
}

.edit {
	text-align:center;	
}

.photos {
	text-align:center;	
}

.userPhoto {
	width: 100px;
}



